#buscador {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#buscador input {
    padding: 10px;
}

#rutas {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.ruta {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border: 1px solid #9fd9dd;
    padding: 10px;
    border-radius: 10px;
    background-color: azure;
}

.ruta:hover {
    border-color: rgba(185, 181, 181, 0.074);
    box-shadow: 2px 2px rgb(200, 200, 200);
}

.descripcion {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.descripcion .nombre {
    font-size: 1.5em;
    font-weight: bold;
    color: #327577;
}

.descripcion .itinerario {
    font-size: 1.2em;
    color: #5dc1cc;
    /* Texto naranja */
}

.descripcion .distancia {
    font-size: 1.2em;
    color: #de8c19;
    /* Texto rojo oscuro */
}